<!DOCTYPE html>
<html>
<title>당신의 퇴직금은?</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script> 
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  font-family: 'Hanna';
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/images/dobby.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/images/bono.jpeg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/images/coding.jpeg");
  background-size: 100% 1000px;
  min-height: 600px;
}

.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.tds{
    padding-left: 15px;
}
</style>
<body>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">당신의 퇴직금은 안녕하십니까?</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h1 class="w3-center" style="font-family: Hanna;">퇴직금 계산기</h1>
  <div class="w3-wide">
    <table>
        <tr>
            <td>
                <p>*월급</p>
            </td>
            <td class="tds">
                <input id="salary" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <p>*입사일</p>
            </td>
            <td class="tds">
                <input id="startDate" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>퇴사일 </p>
            </td>
            <td class="tds">
                <input id="endDate" type="text"/>
            </td>
        </tr>
    </table>
    <div>
        <p>당신의 퇴직금은 <b id="pension">0</b>입니다.</p>
        <p>*주의사항</p>
        <p>해당 계산기는 정식 계산기가 아닌 단순 참고용이므로 정확히 일치하지 않습니다.</p>
    </div>
    <p><input type="button" id="result" value="계산하기" class="btn btn-default btn-primary"/></p>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
&nbsp;
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">디자이너(퍼블리셔) 상시 모집</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h1 class="w3-center" style="font-family: Hanna;">퇴직까지 얼마나 남았을까?</h1>
    <div class="w3-wide">
        <table>
            <tr>
                <td>
                    <p>*월급 </p>
                </td>
                <td class="tds">
                    <input id="salary2" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>*원하는 퇴직금은?</p>
                </td>
                <td class="tds">
                    <input id="pension2" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>*입사일</p>
                </td>
                <td class="tds">
                    <input id="startDate2" type="text"/>
                </td>
            </tr>
        </table>
        <div>
            <p id="endDate2"></p>
            <p>*주의사항</p>
            <p>해당 계산기는 정식 계산기가 아닌 단순 참고용이므로 정확히 일치하지 않습니다.</p>
        </div>
        <p><input type="button" id="result2" value="계산하기" class="btn btn-default btn-primary"/></p>
    </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-black w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE I WORK</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="/images/mypic.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Seoul, Korea<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +82 01067751433<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: oh.ji-hoon@daum.net<br>
      </div>
      <p><i class="fa fa-coffee"></i> 얼죽아를 선호하는 사람입니다 :)</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="button" id="sendMessage">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/ojh0724" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/ojh_24" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
$(function() {
    //달력 셋팅
    $("#startDate").datepicker({
        changeYear: true,
        changeMonth: true, 
        dateFormat: 'yy-mm-dd',
        setDate: '2018-01-01'
    });
    $("#startDate").datepicker().datepicker("setDate", '2018-01-01');

    $("#endDate").datepicker({
        changeYear: true,
        changeMonth: true, 
        dateFormat: 'yy-mm-dd',
    });
    $("#endDate").datepicker("setDate", new Date());

    $("#startDate2").datepicker({
        changeYear: true,
        changeMonth: true, 
        dateFormat: 'yy-mm-dd',
        setDate: '2018-01-01'
    });
    $("#startDate2").datepicker().datepicker("setDate", '2018-01-01');
});
</script>
<script>
$(document).ready(function() {
    var today = new Date();
    today = formatDate(today);
    var todayAlert = "오늘은 " + today + " 입니다."; 
    $("#endDate2").html(todayAlert);
    $("#result").click(function(){
        var salary = Number($("#salary").val());
        var startDate = dateParse($("#startDate").val());
        var endDate = $("#endDate").val();
        if(endDate == "") {
            var today = new Date();
            endDate = today
        } else {
            endDate = dateParse(endDate);
        }

        if(salary == "" || startDate == "") {
            alert("월급 및 입사일 입력은 필수입니다.");
            return;
        }
        var dateCnt = parseInt((endDate-startDate) / (24 * 60 * 60 * 1000));
        //퇴직금 = 1일 치 평균임금 * 30일 * (근속일수/365)
        var result = Math.round(salary * (dateCnt / 365));
        $("#pension").html(fnComma(result));
    });

    $("#result2").click(function() {
        var salary = Number($("#salary2").val());
        var startDate = $("#startDate2").val();
        var pension = Number($("#pension2").val());

        //(퇴직금/한달치 임금) * 365 = (퇴사일 - 입사일)
        var endDate = Math.ceil((pension / salary) * 365);
        var result = date_add(startDate, endDate);
        var resultValue = "당신의 퇴사 예정일은 <b>" + result + "</b> 입니다.";
        $("#endDate2").html(resultValue);
    });

    $("#sendMessage").click(function() {
        alert("해당 기능은 준비중입니다.");
    });
});
</script>
<script>
//customJS
function replaceAll(str, searchStr, replaceStr) {
    return str.split(searchStr).join(replaceStr);
}

function dateParse(str) {
    str = replaceAll(str, "-", "");
    var yy = str.substr(0,4),
        mm = str.substr(4,2) - 1,
        dd = str.substr(6,2);
    return new Date(yy, mm, dd);
}

function fnComma(num) {
    var regexp = /\B(?=(\d{3})+(?!\d))/g;
    return num.toString().replace(regexp, ',');
}

function formatDate(date) {
    var d = new Date(date), 
        month = '' + (d.getMonth() + 1), 
        day = '' + d.getDate(), 
        year = d.getFullYear(); 

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    return [year, month, day].join('-');
}

 
function date_add(sDate, nDays) {
    var yy = parseInt(sDate.substr(0, 4), 10);
    var mm = parseInt(sDate.substr(5, 2), 10);
    var dd = parseInt(sDate.substr(8), 10);

    d = new Date(yy, mm - 1, dd + nDays);

    yy = d.getFullYear();
    mm = d.getMonth() + 1; mm = (mm < 10) ? '0' + mm : mm;
    dd = d.getDate(); dd = (dd < 10) ? '0' + dd : dd;
    return '' + yy + '-' +  mm  + '-' + dd;
}
</script>

</body>
</html>
